/* Credit: Code Institute Tutorial */
@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:500');

/* Code Institute Tutorial */
* {
    margin: 0;
    padding: 0;
    border: 0;
}


/* ---------------------- body--------------------- */


/* Credit: Code Institute Tutorial */
body {
    font-family: Lato;
    color: #777777;
    background-color: #fafafa;
}

h2,
h3 {
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #555555;

}



/* -------------------- header -------------------- */


/* Header is at the top the body */

/* Credit: Code Institute Tutorial */
header {
    font-size: 280%;
    /* relative to size on device */
    color: #555555;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 600;
    text-align: center;
    background-color: #ffaaaa;
}

header #icon_row,
#heading_text {
    height: 75px;
    line-height: 75px;
    display: inline-block;
}


header i {
    color: #555555;
}

header h2 {
    height: 75px;
    line-height: 75px;
}



/* -------------------- level -------------------- */

#level_section {

    height: 40px;
    line-height: 40px;
    font-size: 100%;
    text-align: center;
    background-color: #ffaaff;
}




/* -------------------- score -------------------- */

#score_section {
    height: 80px;
    line-height: 80px;
}

/* Credit: Code Institute JS Essentials Project */
#correct_answer {

    width: 100%;
    font-size: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #ffaaaa;
}

#incorrect_answer {

    width: 100%;
    font-size: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #ffaaff;
}





/* -------------------- level and score -------------------- */

#level,
#correct,
#incorrect {
    color: red;
}


/* -------------------- boxes -------------------- */


#boxes_section {
    text-align: center;
    background-color: #ffaaaa;
    /* Credit Code Institute Love Running */

}



/* Credit: Code Institute Challenge */
.box {
    width: 75px;
    height: 75px;
    background-color: green;
    margin: 1rem;
    display: inline-block;
}


/* -------------------- Game Over  -------------------- */

/* Credit https://stackoverflow.com/ */

#game_over {
    position: relative;
    z-index: 1;
    /*  margin-top: 10px;*/
    text-transform: uppercase;
    text-align: center;
    height: 0px;
    width: 320px;
}


#game_over h3,
h2 {
    height: 40px;
    line-height: 40px;
    background-color: #fafafa;
}

#game_over h3 {
    font-size: 180%;
    background-color: #fafafa;
}

#game_over h2 {
    font-size: 120%;
    background-color: #fafafa;
}


/* -------------------- button -------------------- */


#run_status {
    height: 40px;
    text-align: center;
    background-color: #ffaaff;
}

button {
    background-color: grey;
    border: 4px solid grey;
    padding-left: 10px;
    padding-right: 10px;
}

/* -------------------- button class -------------------- */


.button {
    font-size: 150%;
    /* Bigger text for iPad's */
}




/* -------------------- info -------------------- */


#info_section h2,
p {
    height: 40px;
    font-size: 150%;
    text-align: center;
    background-color: #ffaaaa;
}


/* -------------------- dummy footer -------------------- */

#dummy_footer {
    height: 40px;
    /* Prevent text from being hidden behind footer, extra 10px. */
}



/* -------------------- footer -------------------- */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    color: #fafafa;
    background-color: #555555;
}

/* Credit: Code Institute Love running  */
#social_media {
    text-align: center;
}

/* Credit: Code Institute Love running  */
#social_media li {
    display: inline-block;
}

/* Credit: Code Institute Love running  */
#social_media i {
    font-size: 150%;
    margin: 1%;
    padding: 10%;
    color: #fafafa;
    background-color: #555555;
}

#social_media li p {
    font-size: 150%;
}

.fa-copyright {
    margin-left: 30px;
}


/* Header text wraps down at a width of 477 so target above that at 600px */

@media screen and (max-width: 600px) {


    /* -------------------- header max-width: 600px -------------------- */



    header #memory_game {
        font-size: 70%;
    }




    /* -------------------- level max-width: 600px -------------------- */

    #level_section {
        height: 20px;
        line-height: 20px;
        font-size: 50%;
    }

    /* -------------------- score max-width: 600px -------------------- */

    #score_section {
        height: 40px;
        line-height: 40px;
    }

    /* Credit: Code Institute JS Essentials Project */
    #correct_answer,
    #incorrect_answer {
        height: 20px;
        line-height: 20px;
        font-size: 50%;
    }


    /* -------------------- boxes max-width: 600px -------------------- */


    /* Credit: Code Institute Challenge */
    .box {
        width: 50px;
        height: 50px;
    }



    /* -------------------- Game Over max-width: 600px -------------------- */

    /* Credit https://stackoverflow.com/ */

    #game_over {
        width: 180px;
        height: 20px;
        line-height: 20px;
        font-size: 50%;
    }


    /* -------------------- button max-width: 600px -------------------- */


    #run_status {
        height: 20px;
        line-height: 20px;
        font-size: 50%;
    }


    /* -------------------- button class max-width: 600px -------------------- */


    .button {
        font-size: 100%;
        /* Bigger text for iPad's */
    }



    /* -------------------- info max-width: 600px -------------------- */



    #info_section p {
        height: 40px;
        font-size: 100%;
    }


    /* -------------------- dummy footer max-width: 600px -------------------- */

    #dummy_footer {
        height: 30px;
    }



    /* -------------------- footer max-width: 600px -------------------- */

    footer {
        height: 20px;
    }


    #social_media i {
        font-size: 100%;
    }

    #social_media li p {
        font-size: 100%;
    }

}





/* Header text wraps down again at a width of 276 so target above that at 300px */
@media screen and (max-width: 350px) {


    /* -------------------- header max-width: 350px -------------------- */

    header #memory_game {
        font-size: 60%;
    }

}