/* Credit: Code Institute Tutorial */
@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:500');

/* Code Institute Tutorial */
* {
    margin: 0;
    padding: 0;
    border: 0;
}


/* ---------------------- body--------------------- */


/* Credit: Code Institute Tutorial */
body {
    font-family: Lato;
    color: #777777;
    background-color: #fafafa;
}

/* Credit: Code Institute Tutorial */
h2,
h3 {
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #555555;
}



/* -------------------- header -------------------- */


/* Header is at the top the body */

/* Credit: Code Institute Tutorial */
header {
    font-size: 280%;
    /* relative to size on device */
    color: #555555;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid #555555;
    margin-bottom: 40px;
}

header #icon_row,
#heading_text {
    height: 75px;
    line-height: 75px;
    display: inline-block;
}


header i {
    color: #555555;
}

header h2 {
    height: 75px;
    line-height: 75px;
}



/* -------------------- level -------------------- */

#level_section {
    height: 40px;
    line-height: 40px;
    font-size: 100%;
    text-align: center;
}




/* -------------------- score -------------------- */

#score_section {
    height: 80px;
    line-height: 80px;
}

/* Credit: Code Institute JS Essentials Project */
#correct_answer {
    width: 100%;
    font-size: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

#incorrect_answer {
    width: 100%;
    font-size: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}





/* -------------------- level and score -------------------- */

#level,
#correct,
#incorrect {
    color: red;
}


/* -------------------- boxes -------------------- */


#boxes_section {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}



/* Credit: Code Institute Challenge */
.box {
    width: 75px;
    height: 75px;
    background-color: green;
    margin: 1rem;
    display: inline-block;
}


/* -------------------- button -------------------- */


#run_status {
    height: 40px;
    text-align: center;
}

button {
    background-color: grey;
    border: 4px solid grey;
    padding-left: 10px;
    padding-right: 10px;
}



.button {
    font-size: 150%;
    /* Bigger text for iPad's */
}




/* -------------------- info -------------------- */

#info_section {
    margin-top: 40px;
    text-align: center;
}

#info_section div {
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
    /* 0 top bottom, auto other 2. */
}

#info_section p {
    height: 40px;
    font-size: 150%;
    text-align: center;
}

#info_section h2 {
    height: 40px;
    font-size: 150%;
    text-align: center;
    margin-bottom: 10px;
}


/* -------------------- dummy footer -------------------- */

#dummy_footer {
    height: 40px;
    /* Prevent text from being hidden behind footer, extra 10px. */
}



/* -------------------- footer -------------------- */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    color: #fafafa;
    background-color: #555555;
    padding: 10px;
}


#social_media {
    text-align: center;
}

#social_media li {
    display: inline-block;
    font-size: 150%;
}

#copy {
    margin-left: 30px;
}



#social_media i {
    color: #fafafa;
    background-color: #555555;
    font-size: 80%;
}

.fab {
    margin-left: 4px;
}





/* Header text wraps down at a width of 477 so target above that at 600px */

@media screen and (max-width: 600px) {


    /* -------------------- header max-width: 600px -------------------- */



    header #memory_game {
        font-size: 70%;
    }




    /* -------------------- level max-width: 600px -------------------- */

    #level_section {
        height: 20px;
        line-height: 20px;
        font-size: 50%;
    }

    /* -------------------- score max-width: 600px -------------------- */

    #score_section {
        height: 40px;
        line-height: 40px;
    }

    /* Credit: Code Institute JS Essentials Project */
    #correct_answer,
    #incorrect_answer {
        height: 20px;
        line-height: 20px;
        font-size: 50%;
    }


    /* -------------------- boxes max-width: 600px -------------------- */


    .box {
        width: 50px;
        height: 50px;
    }



    /* -------------------- Game Over max-width: 600px -------------------- */


    #game_over {
        width: 180px;
        height: 20px;
        line-height: 20px;
        font-size: 50%;
    }


    /* -------------------- button max-width: 600px -------------------- */



    button {
        background-color: grey;
        border: 4px solid grey;
        padding-left: 5px;
        padding-right: 5px;
    }



    .button {
        font-size: 120%;
        /* Bigger text for iPad's */
    }



    /* -------------------- info max-width: 600px -------------------- */



    #info_section p {
        height: 40px;
        font-size: 100%;
    }


    #info_section h2 {
        height: 40px;
        font-size: 120%;
        margin-bottom: 5px;
    }

    /* -------------------- dummy footer max-width: 600px -------------------- */

    #dummy_footer {
        height: 30px;
    }



    /* -------------------- footer max-width: 600px -------------------- */


    footer {
        height: 20px;
        padding: 5px;
        padding-bottom: 10px;
    }


    #social_media li {
        font-size: 140%;
    }


    #social_media i {
        font-size: 80%;
    }

    #copy {
        margin-left: 20px;
    }

}





/* Header text wraps down again at a width of 276 so target above that at 300px */
@media screen and (max-width: 350px) {


    /* -------------------- header max-width: 350px -------------------- */

    header #memory_game {
        font-size: 60%;
    }

    #copy {
        margin-left: 15px;
    }

}